<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The portal-java (Web Event Source) is an abstraction layer in the form of event source for various event-driven asynchronous web client and server that runs on the JVM allowing the end user to choose the desired library." />
<meta name="author" content="Donghwan Kim" />
<title>Portal for Java</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/foundation.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pygments-github.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css" />
<script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>