<div class="top-bar-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><a href="{{ site.baseurl }}/">Portal for Java</a></h1>
					</li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li class="has-dropdown">
							<a href="#">Documentation</a>
							<ul class="dropdown">
								<li><a href="{{ site.baseurl }}/0.8.1/">0.8.1</a></li>
							</ul>
						</li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
</div>
